<h2>
<div class = "container" class = "border border-primary" style = "padding: 25px"  >
    <div class="col">
  <ul>
      <ol><%= params[:message]%></ol>
      <ol><%="-You"%></ol>
  </ul>

  <ul>
    <ol><%= @coach_answer%></ol>
    <ol><%="-Your Coach"%></ol>
  </ul>
</div>

</h2>
